# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
reports/

# Playwright
playwright-report/
playwright/.cache/
test-results/

# Logs
logs/
*.log
*.log.*

# IDEs and Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
``
